## PANDAS
### SERIES
Used for <ins>data manipulation</ins> and <ins>analysis</ins>. <br>
It provides data structures like <ins>DataFrame and Series</ins> to handle and analyze structured data efficiently.

In [7]:
import numpy as np
import pandas as pd

In [2]:
# DICTIONARY TO SERIE

my_dict = {'Hüseyin':96, 'Betül':92, 'Demir':76}

pd.Series(my_dict)     # (dict)

Hüseyin    96
Betül      92
Demir      76
dtype: int64

In [3]:
# TWO LIST TO DICTIONARY

my_ages = [29,28,36]
my_names = ['Hüseyin','Betül','Demir']
pd.Series(my_ages , my_names)     # (data, index)

Hüseyin    29
Betül      28
Demir      36
dtype: int64

In [7]:
my_serie = pd.Series(data = my_ages, index = my_names)
my_serie['Betül']      # 28

28

### CHARACTERISTIC OF SERIES

In [10]:
firstResult = pd.Series([20,18,27],['Hüseyin', 'Betül', 'Demir'])
secondResult = pd.Series([32,28,21],['Hüseyin', 'Betül', 'Demir'])

result = firstResult + secondResult
result

Hüseyin    52
Betül      46
Demir      48
dtype: int64

In [12]:
# We can identify differences while exploring the dataset.

firstSerie = pd.Series([24,26,4,5], ['a','b','c','d'])
secondSerie = pd.Series([21,17,18,9], ['a','g','h','d'])

firstSerie + secondSerie

a    45.0
b     NaN
c     NaN
d    14.0
g     NaN
h     NaN
dtype: float64

### DATA FRAME

In [11]:
data = np.random.randn(4,3)
data

array([[ 0.8281115 ,  0.20682808, -2.08947907],
       [ 0.53600651,  0.36465413,  0.05694454],
       [-0.45108058, -0.84657493,  0.25469976],
       [ 0.78524609, -2.43627278, -0.4238296 ]])

In [13]:
dataFrame = pd.DataFrame(data)   # (numpy_array)
dataFrame[0]    # first column
dataFrame

          0         1         2
0  0.828112  0.206828 -2.089479
1  0.536007  0.364654  0.056945
2 -0.451081 -0.846575  0.254700
3  0.785246 -2.436273 -0.423830

### INDICES

In [16]:
newDataFrame = pd.DataFrame(data, index = ['Math','Physics','Chemistry', 'Biology'], columns = ["S. Performance", "Efficiency", "Study Hours"])
newDataFrame

           S. Performance  Efficiency  Study Hours
Math             0.828112    0.206828    -2.089479
Physics          0.536007    0.364654     0.056945
Chemistry       -0.451081   -0.846575     0.254700
Biology          0.785246   -2.436273    -0.423830

In [18]:
# sütun arama
newDataFrame["S. Performance"]

Math         0.828112
Physics      0.536007
Chemistry   -0.451081
Biology      0.785246
Name: S. Performance, dtype: float64

In [20]:
newDataFrame[["Efficiency","Study Hours"]]

           Efficiency  Study Hours
Math         0.206828    -2.089479
Physics      0.364654     0.056945
Chemistry   -0.846575     0.254700
Biology     -2.436273    -0.423830

In [22]:
# row arama
newDataFrame.loc["Chemistry"]
newDataFrame.iloc[0]    # Math

S. Performance    0.828112
Efficiency        0.206828
Study Hours      -2.089479
Name: Math, dtype: float64

In [24]:
# yeni sütun ekleme

newDataFrame["Value"] = newDataFrame["Efficiency"] * newDataFrame["Study Hours"]
newDataFrame

           S. Performance  Efficiency  Study Hours     Value
Math             0.828112    0.206828    -2.089479 -0.432163
Physics          0.536007    0.364654     0.056945  0.020765
Chemistry       -0.451081   -0.846575     0.254700 -0.215622
Biology          0.785246   -2.436273    -0.423830  1.032565

In [26]:
# sütun silme

newDataFrame.drop("Value", axis = 1)

           S. Performance  Efficiency  Study Hours
Math             0.828112    0.206828    -2.089479
Physics          0.536007    0.364654     0.056945
Chemistry       -0.451081   -0.846575     0.254700
Biology          0.785246   -2.436273    -0.423830

In [28]:
# row silme
newDataFrame.drop("Biology", axis = 0)   # axis=0 is not necessary.

           S. Performance  Efficiency  Study Hours     Value
Math             0.828112    0.206828    -2.089479 -0.432163
Physics          0.536007    0.364654     0.056945  0.020765
Chemistry       -0.451081   -0.846575     0.254700 -0.215622

In [30]:
newDataFrame
# it did not drop the 'Value' column

           S. Performance  Efficiency  Study Hours     Value
Math             0.828112    0.206828    -2.089479 -0.432163
Physics          0.536007    0.364654     0.056945  0.020765
Chemistry       -0.451081   -0.846575     0.254700 -0.215622
Biology          0.785246   -2.436273    -0.423830  1.032565

In [32]:
# Drop Permanently
newDataFrame.drop("Value", axis = 1, inplace = True)
newDataFrame

           S. Performance  Efficiency  Study Hours
Math             0.828112    0.206828    -2.089479
Physics          0.536007    0.364654     0.056945
Chemistry       -0.451081   -0.846575     0.254700
Biology          0.785246   -2.436273    -0.423830

In [34]:
# tablodan datayı getir
newDataFrame.loc["Physics"]["Efficiency"]
newDataFrame.loc["Chemistry","Study Hours"]

0.25469976427265

In [36]:
booleanFrame = newDataFrame < 0
booleanFrame

           S. Performance  Efficiency  Study Hours
Math                False       False         True
Physics             False       False        False
Chemistry            True        True        False
Biology             False        True         True

In [42]:
# Filter rows based on condition

newDataFrame[booleanFrame]
newDataFrame[newDataFrame < 0]

           S. Performance  Efficiency  Study Hours
Math                  NaN         NaN    -2.089479
Physics               NaN         NaN          NaN
Chemistry       -0.451081   -0.846575          NaN
Biology               NaN   -2.436273    -0.423830

In [44]:
newDataFrame["Efficiency"] > 0

Math          True
Physics       True
Chemistry    False
Biology      False
Name: Efficiency, dtype: bool

In [52]:
newDataFrame[newDataFrame["Study Hours"] > 0]

           S. Performance  Efficiency  Study Hours
Physics          0.536007    0.364654     0.056945
Chemistry       -0.451081   -0.846575     0.254700

### RESET INDEX

In [58]:
newDataFrame.reset_index()
# Without inplace, changes won't be applied to the table

       index  S. Performance  Efficiency  Study Hours
0       Math        0.828112    0.206828    -2.089479
1    Physics        0.536007    0.364654     0.056945
2  Chemistry       -0.451081   -0.846575     0.254700
3    Biology        0.785246   -2.436273    -0.423830

In [60]:
newIndexList = ["Mth", "Phy", "Che", "Bio"]
newDataFrame["New Index"] = newIndexList
newDataFrame.set_index("New Index", inplace = True)
newDataFrame

           S. Performance  Efficiency  Study Hours
New Index
Mth              0.828112    0.206828    -2.089479
Phy              0.536007    0.364654     0.056945
Che             -0.451081   -0.846575     0.254700
Bio              0.785246   -2.436273    -0.423830

### MULTI INDEX

In [64]:
firstIndexes = ["A","A","A","B","B","B"]
secondIndexes = ["Math", "Physics", "Chemistry", "Math", "Geometry", "Biology"]

resultIndexes = list(zip(firstIndexes,secondIndexes))
resultIndexes

[('A', 'Math'),
 ('A', 'Physics'),
 ('A', 'Chemistry'),
 ('B', 'Math'),
 ('B', 'Geometry'),
 ('B', 'Biology')]

In [66]:
resultIndexes = pd.MultiIndex.from_tuples(resultIndexes)
resultIndexes

MultiIndex([('A',      'Math'),
            ('A',   'Physics'),
            ('A', 'Chemistry'),
            ('B',      'Math'),
            ('B',  'Geometry'),
            ('B',   'Biology')],
           )

In [70]:
myList = [[1.17,"5"],[0.65,"3"],[0.87,"4"],[1.68,"6"],[1.94,"5"],[2.7,"8"]]
myNumpyArray = np.array(myList)

myDataFrame = pd.DataFrame(myNumpyArray, index = resultIndexes, columns = ["Efficiency","Study Hours"])
myDataFrame

            Efficiency Study Hours
A Math            1.17           5
  Physics         0.65           3
  Chemistry       0.87           4
B Math            1.68           6
  Geometry        1.94           5
  Biology          2.7           8

In [74]:
myDataFrame.loc["A"]
myDataFrame.loc["B"]

         Efficiency Study Hours
Math           1.68           6
Geometry       1.94           5
Biology         2.7           8

In [76]:
myDataFrame.loc["A"].loc["Physics"]

Efficiency     0.65
Study Hours       3
Name: Physics, dtype: object

In [78]:
myDataFrame.index.names = ["Class", "Lessons"]
myDataFrame

                Efficiency Study Hours
Class Lessons
A     Math            1.17           5
      Physics         0.65           3
      Chemistry       0.87           4
B     Math            1.68           6
      Geometry        1.94           5
      Biology          2.7           8

### MISSING DATA

In [85]:
myDictionary = {"İstanbul" : [32,37,np.nan], "Ankara" : [11,np.nan,np.nan],"İzmir" : [27,33,34],}
weatherDataFrame = pd.DataFrame(myDictionary)
weatherDataFrame

   İstanbul  Ankara  İzmir
0      32.0    11.0     27
1      37.0     NaN     33
2       NaN     NaN     34

In [91]:
weatherDataFrame.dropna()
# not permanently. This won't modify weatherDataFrame !!!

   İstanbul  Ankara  İzmir
0      32.0    11.0     27

In [93]:
weatherDataFrame.dropna(axis = 1)

   İzmir
0     27
1     33
2     34

In [95]:
# Drops columns with more than one NaN value
weatherDataFrame.dropna(axis = 1 , thresh = 2)

   İstanbul  İzmir
0      32.0     27
1      37.0     33
2       NaN     34

In [99]:
# Filling missing values
weatherDataFrame.fillna(20)

   İstanbul  Ankara  İzmir
0      32.0    11.0     27
1      37.0    20.0     33
2      20.0    20.0     34

### GROUP BY

In [175]:
salaryDict = {"Departmant" : ["Marketing", "Marketing", "Finance", "Finance", "Finance","IT", "IT", "IT", "IT"], 
              "Employee" : ["Muhammed", "Asli", "Burcu", "Deniz", "Kubilay", "Huseyin", "Duru", "Yunus", "Ersan"],
              "Salary" : [24000, 18000, 21000, 20000, 19000, 24000, 22000, 16000, 28000]
             }
salaryDataFrame = pd.DataFrame(salaryDict)
salaryDataFrame

  Departmant  Employee  Salary
0  Marketing  Muhammed   24000
1  Marketing      Asli   18000
2    Finance     Burcu   21000
3    Finance     Deniz   20000
4    Finance   Kubilay   19000
5         IT   Huseyin   24000
6         IT      Duru   22000
7         IT     Yunus   16000
8         IT     Ersan   28000

In [207]:
resultData = salaryDataFrame.groupby("Departmant")
resultData.count()

            Employee  Salary
Departmant
Finance            3       3
IT                 4       4
Marketing          2       2

In [205]:
# avg Salary
resultData.mean("Salary")

  Departmant   Salary
0    Finance  20000.0
1         IT  22500.0
2  Marketing  21000.0

In [183]:
# Highest salaries in the department
resultData.max("Salary")

            Salary
Departmant
Finance      21000
IT           28000
Marketing    24000

In [191]:
# Lowest salaries in the department
resultData.min("Salary")

            Salary
Departmant
Finance      19000
IT           16000
Marketing    18000

In [211]:
resultData.describe()

           Salary                                                            \
            count     mean          std      min      25%      50%      75%
Departmant
Finance       3.0  20000.0  1000.000000  19000.0  19500.0  20000.0  20500.0
IT            4.0  22500.0  5000.000000  16000.0  20500.0  23000.0  25000.0
Marketing     2.0  21000.0  4242.640687  18000.0  19500.0  21000.0  22500.0


                max
Departmant
Finance     21000.0
IT          28000.0
Marketing   24000.0

### concat

In [227]:
dictionary1 = {"Name" : ["Ahmet","Beren","Hüseyin","Aslı"],
               "Sport" : ["Running", "Swimming", "Swimming", "Basketball"],
               "Calorie" : [168,240,300,372]
              }
dataFrame1 = pd.DataFrame(dictionary1, index=[0,1,2,3])
dataFrame1

      Name       Sport  Calorie
0    Ahmet     Running      168
1    Beren    Swimming      240
2  Hüseyin    Swimming      300
3     Aslı  Basketball      372

In [235]:
dictionary2 = {"Name" : ["Deniz","Yağmur","Nehir","Dere"],
               "Sport" : ["Swimming", "Basketball", "Running", "Basketball"],
               "Calorie" : [231,177,436,501]
              }
dataFrame2 = pd.DataFrame(dictionary2, index = [4,5,6,7])
dataFrame2

     Name       Sport  Calorie
4   Deniz    Swimming      231
5  Yağmur  Basketball      177
6   Nehir     Running      436
7    Dere  Basketball      501

In [237]:
dictionary3 = {"Name" : ["Havva","Büşra","Dilara","Elif"],
               "Sport" : ["Basketball", "Swimming", "Running", "Swimming"],
               "Calorie" : [433,322,279,198]
              }
dataFrame3 = pd.DataFrame(dictionary3, index = [8,9,10,11])
dataFrame3

      Name       Sport  Calorie
8    Havva  Basketball      433
9    Büşra    Swimming      322
10  Dilara     Running      279
11    Elif    Swimming      198

In [239]:
pd.concat([dataFrame1,dataFrame2,dataFrame3], axis = 0)    # axis = 0'a gerek yok.

       Name       Sport  Calorie
0     Ahmet     Running      168
1     Beren    Swimming      240
2   Hüseyin    Swimming      300
3      Aslı  Basketball      372
4     Deniz    Swimming      231
5    Yağmur  Basketball      177
6     Nehir     Running      436
7      Dere  Basketball      501
8     Havva  Basketball      433
9     Büşra    Swimming      322
10   Dilara     Running      279
11     Elif    Swimming      198

### MERGING

In [242]:
mergeDict1 = {"Name" : ["Havva","Büşra","Dilara","Elif"],
             "Sport" : ["Basketball", "Running", "Running", "Swimming"]
            }
mergeDataFrame1 = pd.DataFrame(mergeDict1)
mergeDataFrame1

     Name       Sport
0   Havva  Basketball
1   Büşra     Running
2  Dilara     Running
3    Elif    Swimming

In [244]:
mergeDict2 = {"Name" : ["Havva","Büşra","Dilara","Elif"],
             "Calorie" : [100,150,200,240]
             }
mergeDataFrame2 = pd.DataFrame(mergeDict2)
mergeDataFrame2

     Name  Calorie
0   Havva      100
1   Büşra      150
2  Dilara      200
3    Elif      240

In [246]:
pd.merge(mergeDataFrame1, mergeDataFrame2, on='Name')

     Name       Sport  Calorie
0   Havva  Basketball      100
1   Büşra     Running      150
2  Dilara     Running      200
3    Elif    Swimming      240

### PANDAS İLERİ OPERASYONLAR

In [280]:
salaryDC = {"Name" : ["Deniz","Yağmur","Nehir","Dere"],
            "Departmant" : ["IT", "Finance", "Marketing", "IT"],
            "Salary" : [1850,2120,1600,1450]
           }
salaryDF = pd.DataFrame(salaryDC)
salaryDF

     Name Departmant  Salary
0   Deniz         IT    1850
1  Yağmur    Finance    2120
2   Nehir  Marketing    1600
3    Dere         IT    1450

In [282]:
# unique datas
salaryDF["Departmant"].unique()

array(['IT', 'Finance', 'Marketing'], dtype=object)

In [284]:
# unique count
salaryDF["Departmant"].nunique()

3

In [286]:
# Shows the count of each unique value in the "Department" column.
salaryDF["Departmant"].value_counts()

Departmant
IT           2
Finance      1
Marketing    1
Name: count, dtype: int64

In [292]:
# Implement a function to apply to all data in a column.
def totalSalary(salary):
    return salary * 1.22

salaryDF["Salary"].apply(totalSalary)

0    2257.0
1    2586.4
2    1952.0
3    1769.0
Name: Salary, dtype: float64

In [294]:
# find NaN values
salaryDF.isnull()

    Name  Departmant  Salary
0  False       False   False
1  False       False   False
2  False       False   False
3  False       False   False

In [296]:
characterDC = {"Character Class" : ["South Park","South Park","Simpson","Simpson", "Simpson"],
               "Character Name" : ["Cartman", "Kenny", "Homer", "Bart", "Bart"],

               "Character Age" : [9,10,23,39, 21]
              }
characterDF = pd.DataFrame(characterDC)
characterDF

  Character Class Character Name  Character Age
0      South Park        Cartman              9
1      South Park          Kenny             10
2         Simpson          Homer             23
3         Simpson           Bart             39
4         Simpson           Bart             21

In [316]:
# If there are duplicate values;

# TAKE THE AVG: For Bart, (39+21)/2 = 30
characterDF.pivot_table(values = 'Character Age', index = ["Character Class", "Character Name"],)

# OR

# SUMS THE DUPLICATE DATAS (aggfunc = np.sum)
characterDF.pivot_table(values = 'Character Age', index = ["Character Class", "Character Name"] , aggfunc = np.sum)

/var/folders/19/5zjc4vz12xd3wjg0c5xnhcpc0000gn/T/ipykernel_27301/3281341075.py:9: FutureWarning: The provided callable <function sum at 0x10a27e8e0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  characterDF.pivot_table(values = 'Character Age', index = ["Character Class", "Character Name"] , aggfunc = np.sum)

                                Character Age
Character Class Character Name
Simpson         Bart                       60
                Homer                      23
South Park      Cartman                     9
                Kenny                      10

### READ CSV AND EXCEL FILES

In [57]:
# pd.read_excel("salary.xlsx")
# pd.read_csv("salary.csv")