## PANDAS
#### SERİLER
##### Bu kütüphane temel olarak zaman etiketli serileri ve sayısal tabloları işlemek için bir veri yapısı oluşturur ve bu şekilde çeşitli işlemler bu veri yapısı üzerinde gerçekleştirilebilir olur.

In [1]:
import numpy as np
import pandas as pd

In [2]:
my_dict = {'Hüseyin':96, 'Betül':92, 'Demir':76}

pd.Series(my_dict)

Hüseyin    96
Betül      92
Demir      76
dtype: int64

In [3]:
my_ages = [29,28,36]
my_names = ['Hüseyin','Betül','Demir']
pd.Series(my_ages , my_names)  # SOL : data - SAĞ : index

Hüseyin    29
Betül      28
Demir      36
dtype: int64

In [4]:
my_serie = pd.Series(data = my_ages, index = my_names)
my_serie['Betül'] # 28
my_serie

Hüseyin    29
Betül      28
Demir      36
dtype: int64

### SERİ ÖZELLİKLERİ

In [5]:
firstResult = pd.Series([20,18,27],['Hüseyin', 'Betül', 'Demir'])
secondResult = pd.Series([32,28,21],['Hüseyin', 'Betül', 'Demir'])

result = firstResult + secondResult
result

Hüseyin    52
Betül      46
Demir      48
dtype: int64

In [6]:
# ÖNEMLİ : Veri setini incelerken farklılıkları tespit edebiliriz.

firstSerie = pd.Series([21,17,18,9], ['a','b','c','d'])
secondSerie = pd.Series([21,17,18,9], ['a','g','h','d'])

firstSerie + secondSerie

a    42.0
b     NaN
c     NaN
d    18.0
g     NaN
h     NaN
dtype: float64

### DATA FRAME

In [7]:
data = np.random.randn(4,3)
data

array([[ 0.81636279,  0.40225656,  0.11343479],
       [ 0.15744268,  0.26617411,  0.31078893],
       [-0.1340414 ,  0.59654631, -0.89769862],
       [-0.63066935, -0.97976123,  0.17195518]])

In [8]:
dataFrame = pd.DataFrame(data)
dataFrame[0]    # ilk sütun
dataFrame

          0         1         2
0  0.816363  0.402257  0.113435
1  0.157443  0.266174  0.310789
2 -0.134041  0.596546 -0.897699
3 -0.630669 -0.979761  0.171955

### INDEKSLER

In [9]:
newDataFrame = pd.DataFrame(data, index = ['hüseyin','mustafa','mesut', 'muhammed'], columns = ["Maas", "Yas", "Calisma Saati"])
newDataFrame

              Maas       Yas  Calisma Saati
hüseyin   0.816363  0.402257       0.113435
mustafa   0.157443  0.266174       0.310789
mesut    -0.134041  0.596546      -0.897699
muhammed -0.630669 -0.979761       0.171955

In [10]:
# sütun arama
newDataFrame["Yas"]
newDataFrame["Calisma Saati"]

hüseyin     0.113435
mustafa     0.310789
mesut      -0.897699
muhammed    0.171955
Name: Calisma Saati, dtype: float64

In [11]:
newDataFrame[["Yas","Maas"]]

               Yas      Maas
hüseyin   0.402257  0.816363
mustafa   0.266174  0.157443
mesut     0.596546 -0.134041
muhammed -0.979761 -0.630669

In [12]:
# row arama
newDataFrame.loc["hüseyin"]
newDataFrame.iloc[0]

Maas             0.816363
Yas              0.402257
Calisma Saati    0.113435
Name: hüseyin, dtype: float64

In [13]:
# yeni sütun ekleme

newDataFrame["Emeklilik Yasi"] = newDataFrame["Yas"] * 2
newDataFrame

              Maas       Yas  Calisma Saati  Emeklilik Yasi
hüseyin   0.816363  0.402257       0.113435        0.804513
mustafa   0.157443  0.266174       0.310789        0.532348
mesut    -0.134041  0.596546      -0.897699        1.193093
muhammed -0.630669 -0.979761       0.171955       -1.959522

In [14]:
# sütun silme

newDataFrame.drop("Emeklilik Yasi", axis = 1)

              Maas       Yas  Calisma Saati
hüseyin   0.816363  0.402257       0.113435
mustafa   0.157443  0.266174       0.310789
mesut    -0.134041  0.596546      -0.897699
muhammed -0.630669 -0.979761       0.171955

In [15]:
# row silme

newDataFrame.drop("mustafa", axis = 0)   # axis=0 yazmaya da gerek yok.

              Maas       Yas  Calisma Saati  Emeklilik Yasi
hüseyin   0.816363  0.402257       0.113435        0.804513
mesut    -0.134041  0.596546      -0.897699        1.193093
muhammed -0.630669 -0.979761       0.171955       -1.959522

In [16]:
newDataFrame
# silinmemiş

              Maas       Yas  Calisma Saati  Emeklilik Yasi
hüseyin   0.816363  0.402257       0.113435        0.804513
mustafa   0.157443  0.266174       0.310789        0.532348
mesut    -0.134041  0.596546      -0.897699        1.193093
muhammed -0.630669 -0.979761       0.171955       -1.959522

In [17]:
# gerçekten sil
newDataFrame.drop("Emeklilik Yasi", axis = 1, inplace = True)
newDataFrame

              Maas       Yas  Calisma Saati
hüseyin   0.816363  0.402257       0.113435
mustafa   0.157443  0.266174       0.310789
mesut    -0.134041  0.596546      -0.897699
muhammed -0.630669 -0.979761       0.171955

In [18]:
# tablodan datayı getir
newDataFrame.loc["hüseyin"]["Yas"]
newDataFrame.loc["hüseyin","Yas"]

0.4022565567544075

In [19]:
booleanFrame = newDataFrame < 0
booleanFrame

           Maas    Yas  Calisma Saati
hüseyin   False  False          False
mustafa   False  False          False
mesut      True  False           True
muhammed   True   True          False

In [20]:
# 0'dan küçük değerleri getir
newDataFrame[booleanFrame]
newDataFrame[newDataFrame < 0]

              Maas       Yas  Calisma Saati
hüseyin        NaN       NaN            NaN
mustafa        NaN       NaN            NaN
mesut    -0.134041       NaN      -0.897699
muhammed -0.630669 -0.979761            NaN

In [21]:
newDataFrame["Yas"] > 0

hüseyin      True
mustafa      True
mesut        True
muhammed    False
Name: Yas, dtype: bool

In [22]:
# 0'dan büyük olan belirli bir sütün değerlerini içeren satırları getir.
# Yas sütunu 0'dan büyük olan satırları getir.
newDataFrame[newDataFrame["Yas"] > 0]

             Maas       Yas  Calisma Saati
hüseyin  0.816363  0.402257       0.113435
mustafa  0.157443  0.266174       0.310789
mesut   -0.134041  0.596546      -0.897699

### INDEKS SIFIRLAMA

In [23]:
newDataFrame.reset_index()
# inplace kullanılmazsa tabloda değişiklik olmaz

      index      Maas       Yas  Calisma Saati
0   hüseyin  0.816363  0.402257       0.113435
1   mustafa  0.157443  0.266174       0.310789
2     mesut -0.134041  0.596546      -0.897699
3  muhammed -0.630669 -0.979761       0.171955

In [24]:
newIndexList = ["HG", "MI", "MD", "MH"]
newDataFrame["New Index"] = newIndexList
newDataFrame.set_index("New Index", inplace = True)
newDataFrame

               Maas       Yas  Calisma Saati
New Index
HG         0.816363  0.402257       0.113435
MI         0.157443  0.266174       0.310789
MD        -0.134041  0.596546      -0.897699
MH        -0.630669 -0.979761       0.171955

### MULTI INDEX

In [25]:
firstIndexes = ["Simpson","Simpson","Simpson","South Park","South Park","South Park"]
secondIndexes = ["Homer", "Bart", "Marge", "Cartman", "Kenny", "Kyle"]

resultIndexes = list(zip(firstIndexes,secondIndexes))
resultIndexes

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

In [26]:
resultIndexes = pd.MultiIndex.from_tuples(resultIndexes)
resultIndexes

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [27]:
myList = [[40,"A"],[10,"B"],[30,"C"],[9,"D"],[10,"E"],[11,"F"]]
myNumpyArray = np.array(myList)

myDataFrame = pd.DataFrame(myNumpyArray, index = resultIndexes, columns = ["Yas","Meslek"])
myDataFrame

                   Yas Meslek
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      C
South Park Cartman   9      D
           Kenny    10      E
           Kyle     11      F

In [28]:
myDataFrame.loc["Simpson"]

      Yas Meslek
Homer  40      A
Bart   10      B
Marge  30      C

In [29]:
myDataFrame.loc["South Park"].loc["Kenny"]

Yas       10
Meslek     E
Name: Kenny, dtype: object

In [30]:
myDataFrame.index.names = ["Film Adı", "İsim"]
myDataFrame

                   Yas Meslek
Film Adı   İsim
Simpson    Homer    40      A
           Bart     10      B
           Marge    30      C
South Park Cartman   9      D
           Kenny    10      E
           Kyle     11      F

### EKSİK VERİLER

In [31]:
myDictionary = {"Istanbul" : [32,37,np.nan], "Ankara" : [11,np.nan,np.nan],"Izmir" : [27,33,34],}
weatherDataFrame = pd.DataFrame(myDictionary)
weatherDataFrame

   Istanbul  Ankara  Izmir
0      32.0    11.0     27
1      37.0     NaN     33
2       NaN     NaN     34

In [32]:
weatherDataFrame.dropna()
# weatherDataFrame'den silinmez!!!

   Istanbul  Ankara  Izmir
0      32.0    11.0     27

In [33]:
weatherDataFrame.dropna(axis = 1)

   Izmir
0     27
1     33
2     34

In [34]:
# birden fazla NaN olan sütunları düşür
weatherDataFrame.dropna(axis = 1 , thresh = 2)

   Istanbul  Izmir
0      32.0     27
1      37.0     33
2       NaN     34

In [35]:
weatherDataFrame.fillna(20)

   Istanbul  Ankara  Izmir
0      32.0    11.0     27
1      37.0    20.0     33
2      20.0    20.0     34

### GROUP BY

In [36]:
salaryDict = {"Departman" : ["Satis", "Satis", "Pazarlama", "Pazarlama", "Yazilim", "Yazilim"], 
              "Calisan" : ["Mehmet", "Asli", "Burcu", "Deniz", "Huseyin", "Duru"],
              "Maas" : [15000, 18000, 21000, 20000, 24000, 25000]
             }
salaryDataFrame = pd.DataFrame(salaryDict)
salaryDataFrame

   Departman  Calisan   Maas
0      Satis   Mehmet  15000
1      Satis     Asli  18000
2  Pazarlama    Burcu  21000
3  Pazarlama    Deniz  20000
4    Yazilim  Huseyin  24000
5    Yazilim     Duru  25000

In [37]:
resultData = salaryDataFrame.groupby("Departman")
resultData.count()

           Calisan  Maas
Departman
Pazarlama        2     2
Satis            2     2
Yazilim          2     2

In [38]:
resultData.mean("Maas")

              Maas
Departman
Pazarlama  20500.0
Satis      16500.0
Yazilim    24500.0

In [39]:
# Departmandaki en yüksek maaşlar
resultData.max()

           Calisan   Maas
Departman
Pazarlama    Deniz  21000
Satis       Mehmet  18000
Yazilim    Huseyin  25000

In [40]:
# Departmandaki en düşük maaşlar
resultData.min()

          Calisan   Maas
Departman
Pazarlama   Burcu  20000
Satis        Asli  15000
Yazilim      Duru  24000

In [41]:
resultData.describe()

           Maas                                                            \
          count     mean          std      min      25%      50%      75%
Departman
Pazarlama   2.0  20500.0   707.106781  20000.0  20250.0  20500.0  20750.0
Satis       2.0  16500.0  2121.320344  15000.0  15750.0  16500.0  17250.0
Yazilim     2.0  24500.0   707.106781  24000.0  24250.0  24500.0  24750.0


               max
Departman
Pazarlama  21000.0
Satis      18000.0
Yazilim    25000.0

### concat

In [42]:
dictionary1 = {"Isim" : ["Ahmet","Beren","Huseyin","Aslı"],
               "Spor" : ["Koşu", "Yüzme", "Yüzme", "Basketbol"],
               "Kalori" : [100,200,300,400]
              }
dataFrame1 = pd.DataFrame(dictionary1, index = [0,1,2,3])
dataFrame1

      Isim       Spor  Kalori
0    Ahmet       Koşu     100
1    Beren      Yüzme     200
2  Huseyin      Yüzme     300
3     Aslı  Basketbol     400

In [43]:
dictionary2 = {"Isim" : ["Deniz","Yağmur","Nehir","Dere"],
               "Spor" : ["Yüzme", "Basketbol", "Koşu", "Basketbol"],
               "Kalori" : [200,100,400,300]
              }
dataFrame2 = pd.DataFrame(dictionary2, index = [4,5,6,7])
dataFrame2

     Isim       Spor  Kalori
4   Deniz      Yüzme     200
5  Yağmur  Basketbol     100
6   Nehir       Koşu     400
7    Dere  Basketbol     300

In [44]:
dictionary3 = {"Isim" : ["Havva","Büşra","Dilara","Elif"],
               "Spor" : ["Basketbol", "Koşu", "Koşu", "Yüzme"],
               "Kalori" : [400,300,200,100]
              }
dataFrame3 = pd.DataFrame(dictionary3, index = [8,9,10,11])
dataFrame3

      Isim       Spor  Kalori
8    Havva  Basketbol     400
9    Büşra       Koşu     300
10  Dilara       Koşu     200
11    Elif      Yüzme     100

In [45]:
pd.concat([dataFrame1,dataFrame2,dataFrame3], axis = 0)    # axis = 0'a gerek yok.

       Isim       Spor  Kalori
0     Ahmet       Koşu     100
1     Beren      Yüzme     200
2   Huseyin      Yüzme     300
3      Aslı  Basketbol     400
4     Deniz      Yüzme     200
5    Yağmur  Basketbol     100
6     Nehir       Koşu     400
7      Dere  Basketbol     300
8     Havva  Basketbol     400
9     Büşra       Koşu     300
10   Dilara       Koşu     200
11     Elif      Yüzme     100

### MERGING

In [46]:
mergeDict1 = {"Isim" : ["Havva","Büşra","Dilara","Elif"],
             "Spor" : ["Basketbol", "Koşu", "Koşu", "Yüzme"]
            }
mergeDataFrame1 = pd.DataFrame(mergeDict1)
mergeDataFrame1

     Isim       Spor
0   Havva  Basketbol
1   Büşra       Koşu
2  Dilara       Koşu
3    Elif      Yüzme

In [47]:
mergeDict2 = {"Isim" : ["Havva","Büşra","Dilara","Elif"],
             "Kalori" : [100,150,200,240]
             }
mergeDataFrame2 = pd.DataFrame(mergeDict2)
mergeDataFrame2

     Isim  Kalori
0   Havva     100
1   Büşra     150
2  Dilara     200
3    Elif     240

In [48]:
pd.merge(mergeDataFrame1, mergeDataFrame2, on='Isim')

     Isim       Spor  Kalori
0   Havva  Basketbol     100
1   Büşra       Koşu     150
2  Dilara       Koşu     200
3    Elif      Yüzme     240

### PANDAS İLERİ OPERASYONLAR

In [49]:
salaryDC = {"Isim" : ["Deniz","Yağmur","Nehir","Dere"],
            "Departman" : ["Yazılım", "Satış", "Pazarlama", "Yazılım"],
            "Maas" : [200,100,400,300]
           }
salaryDF = pd.DataFrame(salaryDC)
salaryDF

     Isim  Departman  Maas
0   Deniz    Yazılım   200
1  Yağmur      Satış   100
2   Nehir  Pazarlama   400
3    Dere    Yazılım   300

In [50]:
# bir sütundakibenzersiz dataları getir.
salaryDF["Departman"].unique()

array(['Yazılım', 'Satış', 'Pazarlama'], dtype=object)

In [51]:
# bir sütundaki benzersiz data sayısı.
salaryDF["Departman"].nunique()

3

In [52]:
# sütundaki dataların tekrar sayısı.
salaryDF["Departman"].value_counts()

Departman
Yazılım      2
Satış        1
Pazarlama    1
Name: count, dtype: int64

In [53]:
# sütundaki değerleri fonksiyona sok.

def totalSalary(salary):
    return salary * 0.87

salaryDF["Maas"].apply(totalSalary)

0    174.0
1     87.0
2    348.0
3    261.0
Name: Maas, dtype: float64

In [54]:
# boş değerleri (NaN) bul
salaryDF.isnull()

    Isim  Departman   Maas
0  False      False  False
1  False      False  False
2  False      False  False
3  False      False  False

In [55]:
characterDC = {"Karakter Sınıfı" : ["South Park","South Park","Simpson","Simpson", "Simpson"],
               "Karakter Ismi" : ["Cartman", "Kenny", "Homer", "Bart", "Bart"],

               "Karakter Yas" : [9,10,23,39, 21]
              }
characterDF = pd.DataFrame(characterDC)
characterDF

  Karakter Sınıfı Karakter Ismi  Karakter Yas
0      South Park       Cartman             9
1      South Park         Kenny            10
2         Simpson         Homer            23
3         Simpson          Bart            39
4         Simpson          Bart            21

In [56]:
characterDF.pivot_table(values = 'Karakter Yas', index = ["Karakter Sınıfı", "Karakter Ismi"],)

# tekrar eden veriler var ise ortalamayı alır.
# ortalamayı alması yerine specific bir işlem yapabiliriz : 

characterDF.pivot_table(values = 'Karakter Yas', index = ["Karakter Sınıfı", "Karakter Ismi"] , aggfunc = np.sum)

# aggfunc = np.sum  :  tekrar eden verileri toplar.

                               Karakter Yas
Karakter Sınıfı Karakter Ismi
Simpson         Bart                     60
                Homer                    23
South Park      Cartman                   9
                Kenny                    10

### READ CSV AND EXCEL FILES

In [57]:
# pd.read_excel("salary.xlsx")
# pd.read_csv("salary.csv")